body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f2f5;
            margin: 0;
        }

        .char-selection {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;

            display: flex;
            gap: 16px;
            flex-wrap: wrap;

            justify-content: center;
            align-items: center;
        }


        .card-title-1 {
            color: #190ccf;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card-title-2 {
            color: #190ccf;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card-text {
            color: #666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .card-button-1 {
            background-color: #007bff;
            color: #4050e1;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .card-button-2 {
            background-color: #be37eb;
            color: #a000b9;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .card-button-1:hover {
            background-color: #35a9ec;
        }

        .card-button-2:hover {
            background-color: #e853de;
        }


